################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
*obj
bin/
Debug/
obj/
.vs/
.suo
*.dll
*.pdb
/Shared/obj/Debug/

/Shared/obj/Debug/net6.0/
/Shared/obj/Debug/net6.0/refint/Shared.dll
/Shared/obj/Debug/net6.0/Shared.dll
/Shared/obj/Debug/net6.0/Shared.pdb
/Shared/obj/Debug/net6.0/ref/Shared.dll
/.vs/P2P/v17/.futdcache.v2
/.vs/ProjectEvaluation/p2p.metadata.v6.1
/.vs/ProjectEvaluation/p2p.projects.v6.1
/.vs/P2P/FileContentIndex/f92f7f24-7aa0-419c-a958-da7c78738a52.vsidx
