################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vs
*obj
bin/
Debug/
obj/
.vs/
.suo
*/.dll
/Shared/bin/Debug/net6.0/Shared.dll
/Shared/bin/Debug/net6.0/Shared.pdb
